@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
.img{  
    width: 100px;
    margin-left: 25px;
}
#nav-link-verde {
    color: #349c26ab;
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
    margin-right: 25px;
}
.d-item{
    height: 600px;
}
.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.text-run{
    max-width: 700px;
    margin: 0 auto 60px auto;
    text-align: right;
    left:auto;
    right: 5%;
    font-size: 100%;
}
.conoce{
     text-align: center;
     margin: 0 auto 30px auto;
     padding: 15px; 
}
.titulo{
    text-align: center;
     margin: 0 auto 0 auto;
     padding: 0; 
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lugar{
    padding-top: 20px;
}
#totalPago {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .btn-personal{
    background-color: rgba(150, 201, 62);
  }
  .btn-personal:hover{
    background-color: rgba(130, 181, 42);
  }
  .nverde{
    background-color:rgba(41, 167, 68) ;
}
  #main-footer {
    background: #1d3c4e;
    color: #fff;
    padding: 1.5rem;
  }
  
  #main-footer .nav-link {
    color: #fff;
    text-align: center;
  }
  #main-footer .nav-link:hover { opacity: .7; }
  
  @media (min-width: 992px) {
    #main-footer .nav-link span { display: block; }
  }
